@import "./foundations/reset";
@import "./foundations/variables";

*,
*::before,
*::after{
    box-sizing: border-box;
}

section{
    padding: 50px;
}

div{
    font-family: $font;
    font-size: $font_size-small;
    font-weight: $font_weight-regular;
}

h1{
    @include h1
}

h2{
    @include h2;
}

h3{
    @include h3
}

h4{
    @include h4
}

h5{
    @include h5
}