@import "./foundations/reset";
@import "./foundations/variables";

*,
*::before,
*::after{
    box-sizing: content-box;
    font-family: $font;
    font-size: $font_size-regular;
    font-weight: $font_weight-regular;
}

section{
    padding: 50px;
}

h1{
    color: $color-main;
    font-size: $font_size-extra;
}

h2{
    color: $color-black;
    font-size: $font_size-mega;
}